.Containerinit{
    width: 1280px;
    height: 32px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
     
.ItensContainer{
    display: flex;
    margin-left: 10px;
}

span{
    font-size: 12px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    color: #9F9F9F;
}


}

